* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2D333B;
}

::-webkit-scrollbar-thumb {
    background-color: #444C56;
    border-radius: 4px;
}

@font-face {
    font-family: "Hermit";
    src: url("./assets/fonts/Hermit-Regular.otf");
}

body {
    font-family: Hermit;
    background-color: #000;
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 100vh;
}

.glass-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7.5px);
    flex-grow: 0;
}

.text-primary-blue {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    background: conic-gradient(from 180deg at 50% 50%, #30F 0deg, #B5A3FF 360deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-subtitle-grey {
    background: conic-gradient(from 180deg at 50% 50%, #353535 0deg, #626262 360deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-card {
    max-width: 700px;
    max-height: 700px;
}

@media only screen and (max-width: 800px) {
    .info-card {
        max-width: none;
        max-height: none;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        padding: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .info-card > p {
        font-size: 18px;
        padding: 60px 0;
    }

    .info-card > img {
        content: url("https://streak-stats.demolab.com/?user=NickKipshidze&hide_border=true&card_width=200&theme=algolia&border_radius=30&background=00000000&stroke=00000000");
    }

    .text-primary-blue {
        font-size: 40px;
    }

    .text-subtitle-grey {
        font-size: 30px;
    }
}